body {
    display: flex;
    justify-content: center;
}

table {
    border: 3px solid purple;
    padding: 10px;
}

caption {
    border: 5px solid green;
    font-size: 30px;
    font-weight: bold;
    padding: 10px 10px 10px 10px;
    color: red;
    margin: 10px;
}

th {
    border: 1px solid black;
    background-color: yellow;
    text-align: center;
    width: 150px;
}

td {
    border: 1px solid black;
    text-align: left;
    width: 150px;
}